<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="LocalSiteCoreUrl" value="localsitecore"/>
		<add key="Account" value="johnny"/>
		<add key="Password" value="1qaz@WSX"/>
		
		
		<!--範例 ItemGuid1,ItemGuid2,ItemGuid3......-->
		<add key="ItemGuid1" value="{FF2A76CC-9BB7-428A-848C-91BDD385DC9D}"/>
	</appSettings>
</configuration>