<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="LocalSiteCoreUrl" value="localsitecore"/>
		<add key="Account" value="johnny"/>
		<add key="Password" value="1qaz@WSX"/>
		<!--範例 ItemGuid1,ItemGuid2,ItemGuid3......-->
		<add key="ItemGuid1" value="{1A4C7A74-F7F0-4AB4-B366-D033F595981C}"/>
		<add key="NameSpace" value="E.SunBank.Project.eFingo"/>
		<add key="Language" value="zh-tw"/>
	</appSettings>
</configuration>